<footer class="footer-container bg-dark text-white pt-4 pb-3">
  <div class="container text-center text-md-start">
    <div class="row">

      <div class="col-md-4 col-lg-4 mx-auto mb-4">
        <h6
          class="text-uppercase fw-bold mb-4 d-flex align-items-center justify-content-center justify-content-md-start">
          <img src="/Recursos/Logo Puma.jpeg" alt="Runner Core Logo" class="footer-logo me-2">
          Runner Core
        </h6>
        <p>
          Tu tienda N°1 en calzado y ropa deportiva. Encuentra lo último de las mejores marcas.
        </p>
      </div>

      <div class="col-md-4 col-lg-3 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          Ayuda
        </h6>
        <p><a routerLink="#" class="footer-link">Centro de Ayuda</a></p>
        <p><a routerLink="#" class="footer-link">Contáctanos</a></p>
        <p><a routerLink="#" class="footer-link">Envíos y Devoluciones</a></p>
        <p><a routerLink="#" class="footer-link">Preguntas Frecuentes</a></p>
      </div>

      <div class="col-md-4 col-lg-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Síguenos</h6>
        <div class="social-icons">
          <a href="#" class="footer-link me-4 text-white" aria-label="Facebook">
            <i class="bi bi-facebook fs-5"></i>
          </a>
          <a href="#" class="footer-link me-4 text-white" aria-label="Twitter">
            <i class="bi bi-twitter-x fs-5"></i>
          </a>
          <a href="#" class="footer-link me-4 text-white" aria-label="Instagram">
            <i class="bi bi-instagram fs-5"></i>
          </a>
          <a href="#" class="footer-link me-4 text-white" aria-label="Tiktok">
            <i class="bi bi-tiktok fs-5"></i>
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="text-center p-3 copyright-bar"> © 2025 Runner Core. Todos los derechos reservados.
  </div>
</footer>