<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="/Recursos/Logo Puma.jpeg" alt="Runner Core Logo" class="header-logo me-2"> Runner Core 
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngFor="let option of headerOptions">
          <a class="nav-link" href="#">{{ option.name }}</a>
          <ul class="dropdown-menu">
            <li *ngFor="let suboption of option.subOptions">
              <a class="dropdown-item" href="#">{{ suboption }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <form class="d-flex me-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <ul class="navbar-nav flex-row align-items-center">
          <li class="nav-item me-2" *ngFor="let icon of headerIcons">
            <a class="nav-link" href="#" [innerHTML]="icon"></a>
          </li>

          <li class="nav-item me-2" style="cursor: pointer;">
            <a class="nav-link text-danger" (click)="logout()" title="Cerrar Sesión">
              <i class="bi bi-box-arrow-right fs-5"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>